.App {
  text-align: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.chartdiv {
  width: 100%;
  height: 100vh;
}
.chartdiv2 {
  width: 100%;
  height: 100vh;
}
.chartdiv3 {
  width: 100%;
  height: 100vh;
}
.chartdiv4 {
  width: 100%;
  height: 100vh;
}
.chartdiv5 {
  width: 100%;
  height: 100vh;
}